body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";

main {
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}


p {
  font-size: 18px;
}
